@charset "utf-8";

* {
    box-sizing: border-box;
}

/* html */
html {
    /* 16pxを10pxにしてる */
    font-size: 62.5%;
    -webkit-locale: "ja";
    /* 日本語のロケールを使用するように指定（日本語の曜日名や通貨単位、数値の桁区切りなどを適切に表示） */
    -webkit-text-size-adjust: 100%;
    /* ブラウザによるテキストの自動拡大、縮小を無効にし、常に指定されたフォントサイズで表示する */
}

/* body */
body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: #26567C;
    color: #8B8B8B;
    min-width: 320px;
    overflow-x: hidden;
    /* 横スクロールを表示しなくなる設定 */
    overflow-y: scroll;
    /* 要素内のコンテンツが要素をの高さを超えた場合に垂直方向のスクロールバーを表示する（ブログ記事内に長いコメント欄がある場合などに使用する） */
    text-rendering: optimizeLegibility;
    /* フォントがなめらかに表示されます（ブラウザによってもフォントの見え方が統一され、読みやすさが向上する） */
}

/* メイン */
.main {
    width: 100%;
    margin: 0px auto;
    background-color: #fff;
    padding: 70px 20px 0px;
}

/* デバッグ用 */
/* .debug{
    background-color: skyblue;
    border:1px solid #000;
} */

/* 横並び */
/* .flex{
    display: flex;
} */

/* 余白 */
/* .margin{
    margin: 0 12px;
} */

/* 中央ぞろえ */
/* .center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

/* メインコンテンツとサイドバーを横並びにしたまま中央そぞろ */
/* .container {
    justify-content: center;
} */

ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* padding-inline-start: 40px; */
}

/* ヘッダー */
.header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    display: flex;
    align-items: center;
    border-top: 4px solid#D6A923;
    background-color: #26567C;
    color: #fff;
}

/* ロゴのクリックできる範囲を拡大 (54pxサイズ)*/
.headerLogo a {
    display: inline-block;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


/* ロゴのサイズ (40pxサイズ）*/
.headerLogo img {
    width: 180px;
}


/* ロゴとハンバーガーメニューを横並びにする */
.container {
    display: flex;
    /* flexboxレイアウトを適用したい領域を囲む要素に「display: flex;」と設定すると、この要素が「flexコンテナ」になり */
    /* 直下の子要素は「flexアイテム」として機能するようになる */
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 40px;
    /* max-width: 320px; */
    margin: 0 auto;
}



/* チェックボックスを非表示にする */
.drawerHidden {
    display: none;
}


/* ハンバーガーメニューの設置スペース */
.drawerOpen {
    display: flex;
    width: 40px;
    height: 40px;
    cursor: pointer;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    right: 20px;
    z-index: 200;
    /* 重なり順を一番上にする */
    /* background: burlywood; */
}



/* ハンバーガーメニューの線のデザイン */
.drawerOpen span,
.drawerOpen span:after,
.drawerOpen span:before {
    content: "";
    display: block;
    height: 2px;
    width: 30px;
    border-radius: 3px;
    background: #fff;
    /* 箱(線)の色 */
    transition: 0.5s;
    position: absolute;
}



/* 上の線の位置調整 */
.drawerOpen span:after {
    /* background: red; */
    bottom: 8px;
}



/* 下の線の位置調整 */
.drawerOpen span:before {
    /* background: blue; */
    top: 8px;
}



/* ハンバーガーメニューがクリックされたら真ん中の線は透明に */
#drawerInput:checked~.drawerOpen span {
    background-color: rgba(255, 255, 255, 0);
    transition: 0.1s;
}



/* ハンバーガーメニューがクリックされたら×印になように上下の線を回転 */
#drawerInput:checked~.drawerOpen span::after {
    bottom: 0;
    transform: rotate(45deg);
}

#drawerInput:checked~.drawerOpen span::before {
    top: 0;
    transform: rotate(-45deg);
}



/* ナビゲーションのデザイン*/
.navContent {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: -100px;
    left: 0;
    margin-top: 100px;
    padding: 40px 0;
    z-index: 100;
    background: rgba(59, 163, 228, 1);
    text-align: center;
    list-style: none;
}


/* アイコンがクリックされたらメニューを表示 */
#drawerInput:checked~.navContent {
    display: block;
    opacity: 1;
    transition: 0.5s;
}

.navList a {
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 16px;
    text-transform: capitalize;
    display: inline-block;
}


.navList li {
    padding: 15px 5px;
    margin: 0 5px;
    transition: 0.5s;
    background-color: #5FBFED;
}

#drawerInput:checked~.navList a,
#drawerInput:checked~.navList li {
    opacity: 1;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
}

.navList li:hover {
    color: #5FBFED;
    background-color: #fff;
}

#drawerInput {
    display: none;
}

/* フォントサイズ */
h2 {
    font-size: 2.2rem;
    font-weight: 800;
    text-align: center;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    margin-bottom: 40px;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.7rem;
}

p {
    font-size: 1.6rem;
}

@media screen and (min-width: 1000px) {

    h2 {
        font-size: 4rem;
        font-weight: 800;
        text-align: center;
        letter-spacing: 0.1rem;
    }

    h3 {
        font-size: 2.2rem;
    }

    h4 {
        font-size: 2rem;
    }
}

/* パンくずリストcss */
.breadCrumb-001 {
    width: 100%;
    display: flex;
    gap: 0 5px;
    list-style: none;
    font-size: 1rem;
}

.breadCrumb-001 li {
    display: flex;
    align-items: center;
}

.breadCrumb-001 li:not(:last-child)::after {
    display: inline-block;
    transform: rotate(45deg);
    width: 0.5em;
    height: 0.5em;
    margin-left: 10px;
    border-top: 1px solid #8B8B8B;
    border-right: 1px solid #8B8B8B;
    content: '';
}

.breadCrumb-001 a {
    color: #8B8B8B;
    text-decoration: none;
}

/* トップへ戻る */
#pageTop {
    border-radius: 50%;
    width: 5rem;
    /* width: 100px; */
    height: 5rem;
    position: fixed;
    right: 10px;
    bottom: 40px;
    background: #EAB624;
    /* opacity: 0.8; */
}

#pageTop a {
    position: relative;
    display: block;
    width: 7rem;
    height: 7rem;
    text-decoration: none;
}

#pageTop a::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 17px;
    color: #fff;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    bottom: 40px;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    transform: translateX(-50%);
}

#pageTop a::after {
    content: 'TOP';
    font-size: 13px;
    color: #fff;
    position: absolute;
    top: 42px;
    bottom: 0;
    right: 18px;
    left: 0;
    margin: auto;
    text-align: center;
    transform: translateY(-50%);
}


/* 一覧を見るボタン */
.listBtn {
    font-size: 1rem;
    color: #fff;
    background-color: #5FBFED;
    display: block;
    width: 5.6rem;
    height: 2.5rem;
    border-radius: 100vh;
    text-decoration: none;
    text-align: center;
    line-height: 2.5rem;
}

.listBtn:hover {
    color: #fff;
    background: #78cff7;
}


/* プルダウンメニュー */
/* プルダウンメニュー css*/
.selectWrap {
    overflow: hidden;
    width: 19rem;
    text-align: left;
    height: 4rem;
    cursor: pointer;
    display: inline-block;
    /* margin-bottom: 20px; */
}

.selectWrap select {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    appearance: none;
    padding: 10px;
}

.selectWrap select::-ms-expand {
    display: none;
}

.selectWrap {
    position: relative;
    border-radius: 10px;
    background: #F0F0F0;
    border: 0.5px solid #625858;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
}

.selectWrap:before {
    position: absolute;
    top: 13px;
    right: 15px;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #625858;
    pointer-events: none;
}

.selectWrap select {
    color: #625858;
    font-size: 1.6rem;
}

/* .word div{
    background-color: #B6F2FF;
    border-radius: 13px;
    margin-top: 15px;
    text-align: center;
    height: 3.6rem;
    padding-top: 8px;
} */
/* .word a{
color: #26567C;
font-weight: 500 ;
font-size: 1.7rem;
padding: 15px;
} */

/* ランキング、マイスコアボタン */

/* .gameChallenge {
    margin: 30px 0 15px 0;
}

.challengeBtn {
    color: #fff;
    background: linear-gradient(
        to bottom,
        #FFD533 0%, #DCAC2D 60%, #BB6617 100%);
    border-bottom: 6px solid #DEC597;
    width: 190px;
    height: 55px;
    display: block;
    border-radius: 10px;

    text-align: center;
    line-height: 3.4375rem;
    font-size: 1.6rem;
    margin: 0 auto;
    padding: 5px;
}

.viewMyscore{
    margin: 0 0 10px 0;
}

.viewBtn {
    color: #fff;
    background: linear-gradient(
        to bottom,
        #FFD533 0%, #DCAC2D 60%, #BB6617 100%);
    border-bottom: 6px solid #DEC597;
    width: 190px;
    height: 55px;
    display: block;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    line-height: 3.4375rem;
    font-size: 1.6rem;
    margin: 0 auto;
    padding: 5px;
} */
/* .gameBtn {
    color: #fff;
    background-color: r;
    border-bottom: 6px solid #DEC597;
    width:  11.875rem ;
    height: 4rem ;
    display: block;
    border-radius:100vh;
    background: linear-gradient(to bottom right,#FFD533,#DCAC2D,#BB6617 );

    text-decoration: none;
    text-align: center;
    line-height: 3.4375rem;
} */

/* .challengeBtn:hover {
    margin-top: 3px;
    background: #DCAC2D;
    border-bottom: 2px solid #DEC597;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.viewBtn:hover {
    margin-top: 3px;
    background: #DCAC2D;
    border-bottom: 2px solid #DEC597;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
} */


/* w230そのいち てかりあり*/
#gameBody {
    text-align: center;
}

.box {
    margin: auto;
    width: 230px;
    height: 75px;
    border-radius: 15px;
    background:
        linear-gradient(to bottom, #EAC851 0%, #E4BB29 70%, #FDE285 90%, #fff 100%);
    box-shadow: 0 3px 3px #fff;
    position: relative;
}

#startBtn {
    margin: 5px auto;
    width: 216px;
    height: 63px;

    font-weight: bold;
    background: linear-gradient(to bottom,
            #FFDA56 0%, #DDA107 75%, #EC905C 100%);
    box-shadow: 0 1px 0 #A53C01;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.5s;
    font-size: 2.4rem;
    text-align: center;
    text-shadow: 0px 3px 0.5px gray;
}

.circle {
    position: absolute;
    top: 5px;
    left: 8.5px;
    width: 15px;
    height: 15px;
    border-radius: 75% 25% 91% 9% / 74% 20% 80% 26%;
    background-color: #fff;
    opacity: 75%;
    z-index: 80;
}

.circleBottom {
    position: absolute;
    bottom: 7px;
    right: 12px;
    width: 14px;
    height: 8px;
    border-radius: 70% 30% 66% 34% / 92% 23% 77% 8%;
    background-color: #fff;
    opacity: 50%;
}

#startBtn:hover {
    background: #eac851;
    box-shadow: none;
    z-index: 999;
}


/* w230 そのに てかりなし*/
#gameBody2 {
    text-align: center;
}

.box2 {
    margin: auto;
    width: 230px;
    height: 75px;
    border-radius: 15px;
    background:
        linear-gradient(to bottom, #EAC851 0%, #E4BB29 70%, #FDE285 90%, #fff 100%);
    box-shadow: 0 3px 3px #fff;
    position: relative;
}

#startBtn2 {
    margin: 5px auto;
    width: 216px;
    height: 63px;

    font-weight: bold;
    background: linear-gradient(to bottom,
            #FFDA56 0%, #DDA107 75%, #EC905C 100%);
    box-shadow: 0 1px 0 #A53C01;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.5s;
    font-size: 2.4rem;
    text-align: center;
    text-shadow: 0px 3px 0.5px gray;
}

#startBtn2:hover {
    background: #eac851;
    box-shadow: none;
    z-index: 999;
}

/* w190 てかりあり*/
#gameBody3 {
    text-align: center;
}

.box3 {
    margin: auto;
    width: 190px;
    height: 55px;
    border-radius: 15px;
    background:
        linear-gradient(to bottom, #EAC851 0%, #E4BB29 70%, #FDE285 90%, #fff 100%);
    box-shadow: 0 3px 3px #fff;
    position: relative;
}

#startBtn3 {
    margin: 5px auto;
    width: 176px;
    height: 43px;

    font-weight: bold;
    background: linear-gradient(to bottom,
            #FFDA56 0%, #DDA107 75%, #EC905C 100%);
    box-shadow: 0 1px 0 #A53C01;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.5s;
    font-size: 1.6rem;
    text-align: center;
    text-shadow: 0px 3px 0.5px gray;
}

.circle3 {
    position: absolute;
    top: 5px;
    left: 8.5px;
    width: 15px;
    height: 15px;
    border-radius: 75% 25% 91% 9% / 74% 20% 80% 26%;
    background-color: #fff;
    opacity: 75%;
    z-index: 99;
}

.circleBottom3 {
    position: absolute;
    bottom: 7px;
    right: 12px;
    width: 14px;
    height: 8px;
    border-radius: 70% 30% 66% 34% / 92% 23% 77% 8%;
    background-color: #fff;
    opacity: 50%;
}

#startBtn3:hover {
    background: #eac851;
    box-shadow: none;
    z-index: 999;
}

/* w190 てかりなし*/

/* メディアクエリ(PC) */
@media screen and (min-width: 1000px) {
    .main {
        padding: 120px 20px 0px;
    }

    .header {
        height: 100px;
        border-top: 5px solid#D6A923;
        margin-inline: auto;
    }

    .headerLogo img {
        width: 120px;
    }

    .container {
        /* height: 240px; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        max-width: 1080px;
        margin-inline: auto;
    }

    .header img {
        width: 220px;
    }

    .headerLogo a {
        width: 100%;
    }

    .drawerOpen span,
    .drawerOpen span:after,
    .drawerOpen span:before {
        display: none;
    }

    .navContent {
        display: inline-block;
        margin-top: -100px;
        width: auto;
        position: static;
        padding: 0;
        background-color: #26567C;
    }

    .navList {
        display: flex;
    }

    .navList li {
        margin: 0 0 0 5px;
        border-radius: 10px;
        /* width: 115px; */
        padding: 20px 0;
    }

    .navList .upDate,
    .navList .about,
    .navList .terms,
    .navList .privacy,
    .navList .admin {
        display: none;
    }

    .navList a {
        font-size: 14px;
        width: 115px;
        text-align: center;
    }

    .breadCrumb-001 {
        font-size: 1.2rem;
    }


}

/* フッター */


.footer {
    margin: 10px 0 0 0;
    background-color: #5FBFED;
    height: 141px;
    padding: 20px;
}

.footerWrap {
    max-width: 320px;
    margin-inline: auto;
}

.footerLogo {
    width: 200px;
    height: 49px;

}

.footerLogo img {
    width: 200px;
}

.copyright {
    margin-block-start: 30px;
    text-align: center;
    /* margin-bottom: 40px; */
}

.footer small {
    color: #fff;
    /* font-size: 5%; */
}

.footerLogo {
    margin: 0 auto;
}

#footer .innerBlock {
    display: none;
}


/* フッターメディアクエリ */
@media screen and (min-width: 1000px) {

    .footer {
        padding-top: 50px;
        height: auto;
    }

    .footerWrap {
        max-width: 1080px;
    }

    #footer .innerBlock {
        display: block;
        margin-top: 40px;
        line-height: 2;
    }


    #footer .footerContent {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 0px 60px;
        margin: 0 auto;
        justify-content: space-around;
    }

    #footer .contentItem {
        display: block;
        width: calc(100% / 4);
        margin: 0 0 0 40px;
    }

    .contentItem a:hover {
        color: #26567C;
    }




    .footerLogo img {
        margin: 0 auto;
        width: 200px;
    }


    .footerTitle {
        display: block;
        /* margin: 30px 0 6px; */
        font-size: 2rem;
        color: #fff;
        /* font-weight: bold; */
    }

    .copyright {
        /* margin-block-start: 70px; */
        font-size: 1.6rem;
        padding: 20px;
    }

}
