@charset "utf-8";

* {
    box-sizing: border-box;
}

/* html */
html {
    /* 16pxを10pxにしてる */
    font-size: 62.5%;
    -webkit-locale: "ja";
    /* 日本語のロケールを使用するように指定（日本語の曜日名や通貨単位、数値の桁区切りなどを適切に表示） */
    -webkit-text-size-adjust: 100%;
    /* ブラウザによるテキストの自動拡大、縮小を無効にし、常に指定されたフォントサイズで表示する */
}

/* body */
body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: #26567C;
    color: #8B8B8B;
    min-width: 320px;
    overflow-x: hidden;
    /* 横スクロールを表示しなくなる設定 */
    overflow-y: scroll;
    /* 要素内のコンテンツが要素をの高さを超えた場合に垂直方向のスクロールバーを表示する（ブログ記事内に長いコメント欄がある場合などに使用する） */
    text-rendering: optimizeLegibility;
    /* フォントがなめらかに表示されます（ブラウザによってもフォントの見え方が統一され、読みやすさが向上する） */
}

/* メイン */
.main {
    margin: 0 20px;
    background-color: #fff;
    /* padding: 10px; */
    /* height: 100vh; */
}

/* デバッグ用 */
/* .debug{
    background-color: skyblue;
    border:1px solid #000;
} */

/* 横並び */
/* .flex{
    display: flex;
} */

/* 余白 */
/* .margin{
    margin: 0 12px;
} */

/* 中央ぞろえ */
/* .center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

/* メインコンテンツとサイドバーを横並びにしたまま中央そぞろ */
/* .container {
    justify-content: center;
} */

ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

/* スマホ */
/* 新 */
ul, div, img {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: normal;
}


/* ヘッダー */
header {
    border-top: 4px solid#D6A923;
}

/* #nav {
    background-color: #26567C;
    color: #fff;

    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    z-index: 100;

    max-width: 1080px;
} */
#nav {
    background-color: #26567C;
    color: #fff;
    height: 50px;
    width: 100%;
    z-index: 100;
    /* max-width: 320px; */
}

/* チェックボックスを非表示 */
#nav input[type="checkbox"] {
    display: none;
}

/* ロゴ */
.menuLeft {
    float: left;
    line-height: 60px;
}

/* .menuLeft img {
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 30px; */
/* padding: 10px; */
/* width: 270px;
} */

.menuLeft img {
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 0;
    padding: 0;
    width: 174px;
    margin-bottom: 10px;
    padding-left: 10px;
}




/* PCメニュー */
/* .menu {
    float: right;
    margin-right: 10px; */
/* padding: 10px; */
/* margin-top: 30px;
} */

/* .menuParent {
    float: left;
    margin: 0 0 0 5px;
    line-height: 40px;
    font-size: 1.6rem;
    font-weight: bold;
    white-space: nowrap;
    background-color: #5FBFED;
    border-radius: 10px;
    padding: 10px;
    height: 56px;

} */

.menu {
    margin: 0;
    display: none;
}

.menuParent {
    float: left;
    line-height: 40px;
    font-size: 1.6rem;
    font-weight: bold;
    white-space: nowrap;
    background-color: #5FBFED;
    height: auto;
    width: 100%;
    padding: 0px 20px;
    border-bottom: 1px solid #DDD;
    border-radius: 0;
    margin: 0;
}



.menuParent .pd {
    display: inline-block;
    width: 100%;
    padding: 0 0 0 10px;
}

.menuParent:first-child {
    border-top: 1px solid #DDD;
}

.menu-parent i {
    padding: 0px 6px;
}

#menuNavbtn:checked~#nav {
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

/* ハンバーガーメニューがクリックされた時 */
#menuNavbtn:checked~* .menu {
    display: block;
    opacity: 1;
}

#menuNavbtn:checked~* .menuParent {
    max-height: inherit;
    overflow-y: visible;
}

#menuNavbtn:checked~* .menuChild {
    max-height: 0;
    overflow-y: hidden;
    visibility: hidden;
}

/* 子メニュー */
.menuParent .menuChild {
    border-top: 1px solid #DDD;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    position: relative;
    padding: 0 20px;
    opacity: 1;
    top: 0;
    margin-left: auto;
    left: auto;
    width: auto;
    border-radius: 0;
}

.menuParent>label:hover {
    cursor: pointer;
    cursor: hand;
}

/* 子メニューがクリックされた時 */
#nav input[type="checkbox"]:checked~.menuChild {
    max-height: inherit;
    overflow-y: visible;
    visibility: visible;
}

.angletoggle:before {
    content: "\f107";
}

#nav input[type="checkbox"]:checked~* .angletoggle:before {
    content: "\f106";
}

/* 子メニュー */
.menuChild li {
    font-size: 14px;
    border-bottom: 1px solid #DDD;
}

/* 余分な最後の線を消去 */
.menuChild li:last-child {
    border: none;
}

.menuChild li i {
    margin-right: 3px;
}


/* パソコンでは V を非表示 */
/* .menuParent .pd {
    display: none;
} */



/* PCメニューの最後の項目 */
/* .menuParent:last-child {
    margin-right: 0px;
} */



/* #menuNavbtn {
    display: none;
    cursor: pointer;
    cursor: hand;
} */

#menuNavbtn {
    display: none;
    cursor: pointer;
    cursor: hand;
}

#nav #navBtn {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
}

#navBtn span {
    display: block;
    width: 40px;
    height: 40px;
    /* background-color: #333; */
}

#navBtn span span {
    display: block;
    overflow: hidden;
    width: 1px;
    height: 1px;
}

#navBtn span span::before,
#navBtn span span::after,
#navBtn span::after {
    position: absolute;
    left: 10px;
    content: "";
    width: 20px;
    height: 3px;
    background-color: #FFF;
}

/* 上の棒 */
#navBtn span span::before {
    top: 10px;
}

#menuNavbtn:checked~#nav label#navBtn span span::before {
    top: 19px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

/* 下の棒 */
#navBtn span::after {
    bottom: 10px;
}

#menuNavbtn:checked~#nav label#navBtn>span::after {
    bottom: 18px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

/* 中の棒 */
#navBtn span span::after {
    top: 18px;
}

#menuNavbtn:checked~#nav label#navBtn span span::after {
    display: none;
}



/* PCメディアクエリ */
@media screen and (min-width: 1000px) {
    #nav {
        height: 144px;
        padding: 0;
        margin: 0 auto;
        max-width: 1080px;
    }

    .menuLeft img {
        margin-top: 30px;
        width: 270px;
    }

    .menu {
        float: right;
        margin-right: 10px;
        /* padding: 10px; */
        margin-top: 30px;
    }

    .menuParent {
        width: 110px;
        text-align: center;
        margin: 0 0 0 5px;
        border-radius: 10px;
        padding: 10px;
        height: 56px;
    }

    .menuParent .pd {
        display: none;
    }

    .menuParent:last-child {
        margin-right: 0px;
    }

    /* ドロップダウンメニュー */
    .menuParent {
        position: relative;
    }

    .menuParent .menuChild {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        margin-left: -40px;
        width: auto;
        box-sizing: border-box;
        padding: 0px 20px;
        background-color: #90CEEC;
        /* border: 1px solid #000; */
        border-radius: 10px;
        margin-top: 10px;
    }

    .menuParent:hover .menuChild {
        visibility: visible;
        opacity: 1;
    }




    #nav #navBtn {
        display: none;
    }

    .headerAbout {
        display: none;
    }

    .headerUpdate {
        display: none;
    }

    .headerTerms {
        display: none;
    }

    .headerPrivacy {
        display: none;
    }

}

/* スマホ */
@media screen and (max-width: 999px) {
    /* 🌟1000px */

    /* スマホの際に V を表示 */
    /* .menuParent .pd {
        display: inline-block;
        width: 100%;
        padding: 0 0 0 10px;
    } */

    /* .menu {
        display: none;
        margin: 0;
    } */

    /* .menuLeft img {
        margin-top: 0;
        padding: 0;
        width: 174px;
        margin-bottom: 10px;
        padding-left: 10px;
    } */

    /* .menuParent {
        height: auto;
        width: 100%;
        padding: 0px 20px;
        border-bottom: 1px solid #DDD;
        border-radius: 0;
        margin: 0;
    } */

    /* .menuParent:first-child {
        border-top: 1px solid #DDD;
    } */

    /* .menu-parent i {
        padding: 0px 6px;
    } */

    /* メニューを移動させないため */
    /* #menuNavbtn:checked~#nav {
        position: fixed;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100%;
    } */
}

/* ドロップダウンメニュー */
/* .menuParent {
    position: relative;
} */

/* .menuParent .menuChild {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    margin-left: -40px;
    width: auto;
    box-sizing: border-box;
    padding: 0px 20px;
    background-color: #90CEEC; */
/* border: 1px solid #000; */
/* border-radius: 10px;
    margin-top: 10px;
} */

/* パソコン用 */
@media screen and (min-width: 1000px) {

    /* 🌟999 */
    /* .menuParent:hover .menuChild {
        visibility: visible;
        opacity: 1;
    } */
}

/* スマホ用 */
@media screen and (max-width: 999px) {

    /* ハンバーガーメニューがクリックされた時 */
    /* #menuNavbtn:checked~* .menu {
        display: block;
        opacity: 1;
    } */

    /* #menuNavbtn:checked~* .menuParent {
        max-height: inherit;
        overflow-y: visible;
    } */

    /* #menuNavbtn:checked~* .menuChild {
        max-height: 0;
        overflow-y: hidden;
        visibility: hidden;
    } */

    /* 子メニュー */
    /* .menuParent .menuChild {
        border-top: 1px solid #DDD;
        border-left: 1px solid #FFF;
        border-right: 1px solid #FFF;
        border-bottom: 1px solid #FFF;
        position: relative;
        padding: 0 20px;
        opacity: 1;
        top: 0;
        margin-left: auto;
        left: auto;
        width: auto;
        border-radius: 0;
    } */

    /* .menuParent>label:hover {
        cursor: pointer;
        cursor: hand;
    } */

    /* 子メニューがクリックされた時 */
    /* #nav input[type="checkbox"]:checked~.menuChild {
        max-height: inherit;
        overflow-y: visible;
        visibility: visible;
    } */

    /* .angletoggle:before {
        content: "\f107";
    }

    #nav input[type="checkbox"]:checked~* .angletoggle:before {
        content: "\f106";
    } */
}

/* 子メニュー */
/* .menuChild li {
    font-size: 14px;
    border-bottom: 1px solid #DDD;
} */

/* 余分な最後の線を消去 */
/* .menuChild li:last-child {
    border: none;
}

.menuChild li i {
    margin-right: 3px;
} */

/* ハンバーガー */
/* #nav #navBtn {
    display: none;
} */

@media screen and (max-width: 999px) {
    /* #nav #navBtn {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    #navBtn span {
        display: block;
        width: 40px;
        height: 40px; */
    /* background-color: #333; */
    /* }

    #navBtn span span {
        display: block;
        overflow: hidden;
        width: 1px;
        height: 1px;
    }

    #navBtn span span::before,
    #navBtn span span::after,
    #navBtn span::after {
        position: absolute;
        left: 10px;
        content: "";
        width: 20px;
        height: 3px;
        background-color: #FFF;
    } */

    /* 上の棒 */
    /* #navBtn span span::before {
        top: 10px;
    }

    #menuNavbtn:checked~#nav label#navBtn span span::before {
        top: 19px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    } */

    /* 下の棒 */
    /* #navBtn span::after {
        bottom: 10px;
    }

    #menuNavbtn:checked~#nav label#navBtn>span::after {
        bottom: 18px;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    } */

    /* 中の棒 */
    /* #navBtn span span::after {
        top: 18px;
    }

    #menuNavbtn:checked~#nav label#navBtn span span::after {
        display: none;
    } */
}


/* フォントサイズ */
h2 {
    font-size: 2.2rem;
    font-weight: 800;
    text-align: center;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    margin-bottom: 40px;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.7rem;
}

p {
    font-size: 1.6rem;
}

/* パンくずリストcss */
.breadCrumb-001 {
    width: 100%;
    display: flex;
    gap: 0 5px;
    list-style: none;
    padding: 0;
    font-size: 1rem;
    padding: 20px auto;
}

.breadCrumb-001 li {
    display: flex;
    align-items: center;
}

.breadCrumb-001 li:not(:last-child)::after {
    display: inline-block;
    transform: rotate(45deg);
    width: 0.5em;
    height: 0.5em;
    margin-left: 10px;
    border-top: 1px solid #8B8B8B;
    border-right: 1px solid #8B8B8B;
    content: '';
}

.breadCCrumb-001 a {
    color: #8B8B8B;
    text-decoration: none;
}

/* 上に戻るボタン */
/* #btn{
    width: 3.25rem;
    height: 3.25rem;
    /* margin-right:15px;
    margin-bottom:15px; */
/* border-radius:50%;
    position: fixed;
    bottom: 0;
    right: 40px;
    background-color: #BAB624;
    }  */

/* 上に戻るボタンの矢印 */
/* 長方形 */
/* .arrow_up {
	font-size: 30px;
	position: relative;
	width: 0.6rem;
	height: 1rem;
	background-color: #ffff;
} */
/* 三角 */
/* .arrow_up::before {
	position: absolute;
	top: -0.6rem;
	left: -0.5rem;
	width: 0;
	height: 0;
	content: "";
	border-bottom: 0.8rem solid #ffff;
	border-left: 0.8rem solid transparent;
	border-right: 0.8rem solid transparent;
} */

/* トップへ戻る */
#pageTop {
    border-radius: 50%;
    width: 5rem;
    /* width: 100px; */
    height: 5rem;
    position: fixed;
    right: 20px;
    bottom: 100px;
    background: #EAB624;
    /* opacity: 0.8; */
}

#pageTop a {
    position: relative;
    display: block;
    width: 7rem;
    height: 7rem;
    text-decoration: none;
}

#pageTop a::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 17px;
    color: #fff;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    bottom: 40px;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    transform: translateX(-50%);
}

#pageTop a::after {
    content: 'TOP';
    font-size: 13px;
    color: #fff;
    position: absolute;
    top: 42px;
    bottom: 0;
    right: 18px;
    left: 0;
    margin: auto;
    text-align: center;
    transform: translateY(-50%);
}


/* ページネーション */


/* 一覧を見るボタン */
.listBtn {
    font-size: 1rem;
    color: #fff;
    background-color: #5FBFED;
    display: block;
    width: 5.6rem;
    height: 2.5rem;
    border-radius: 100vh;
    text-decoration: none;
    text-align: center;
    line-height: 2.5rem;
}

.listBtn:hover {
    color: #fff;
    background: #78cff7;
}


/* プルダウンメニュー */
/* プルダウンメニュー css*/
.selectWrap {
    overflow: hidden;
    width: 19rem;
    text-align: left;
    height: 4rem;
    cursor: pointer;
    display: inline-block;
    /* margin-bottom: 20px; */
}

.selectWrap select {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    appearance: none;
    padding: 10px;
}

.selectWrap select::-ms-expand {
    display: none;
}

.selectWrap {
    position: relative;
    border-radius: 10px;
    background: #F0F0F0;
    border: 0.5px solid #625858;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
}

.selectWrap:before {
    position: absolute;
    top: 13px;
    right: 15px;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #625858;
    pointer-events: none;
}

.selectWrap select {
    color: #625858;
    font-size: 1.6rem;
}

/* .word div{
    background-color: #B6F2FF;
    border-radius: 13px;
    margin-top: 15px;
    text-align: center;
    height: 3.6rem;
    padding-top: 8px;
} */
/* .word a{
color: #26567C;
font-weight: 500 ;
font-size: 1.7rem;
padding: 15px;
} */

/* ランキング、マイスコアボタン */

/* .gameChallenge {
    margin: 30px 0 15px 0;
}

.challengeBtn {
    color: #fff;
    background: linear-gradient(
        to bottom,
        #FFD533 0%, #DCAC2D 60%, #BB6617 100%);
    border-bottom: 6px solid #DEC597;
    width: 190px;
    height: 55px;
    display: block;
    border-radius: 10px;

    text-align: center;
    line-height: 3.4375rem;
    font-size: 1.6rem;
    margin: 0 auto;
    padding: 5px;
}

.viewMyscore{
    margin: 0 0 10px 0;
}

.viewBtn {
    color: #fff;
    background: linear-gradient(
        to bottom,
        #FFD533 0%, #DCAC2D 60%, #BB6617 100%);
    border-bottom: 6px solid #DEC597;
    width: 190px;
    height: 55px;
    display: block;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    line-height: 3.4375rem;
    font-size: 1.6rem;
    margin: 0 auto;
    padding: 5px;
} */
/* .gameBtn {
    color: #fff;
    background-color: r;
    border-bottom: 6px solid #DEC597;
    width:  11.875rem ;
    height: 4rem ;
    display: block;
    border-radius:100vh;
    background: linear-gradient(to bottom right,#FFD533,#DCAC2D,#BB6617 );

    text-decoration: none;
    text-align: center;
    line-height: 3.4375rem;
} */

/* .challengeBtn:hover {
    margin-top: 3px;
    background: #DCAC2D;
    border-bottom: 2px solid #DEC597;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.viewBtn:hover {
    margin-top: 3px;
    background: #DCAC2D;
    border-bottom: 2px solid #DEC597;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
} */


/* w230そのいち てかりあり*/
#gameBody {
    text-align: center;
}

.box {
    margin: auto;
    width: 230px;
    height: 75px;
    border-radius: 15px;
    background:
        linear-gradient(to bottom, #EAC851 0%, #E4BB29 70%, #FDE285 90%, #fff 100%);
    box-shadow: 0 3px 3px #fff;
    position: relative;
}

#startBtn {
    margin: 5px auto;
    width: 216px;
    height: 63px;

    font-weight: bold;
    background: linear-gradient(to bottom,
            #FFDA56 0%, #DDA107 75%, #EC905C 100%);
    box-shadow: 0 1px 0 #A53C01;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.5s;
    font-size: 2.4rem;
    text-align: center;
    text-shadow: 0px 3px 0.5px gray;
}

.circle {
    position: absolute;
    top: 5px;
    left: 8.5px;
    width: 15px;
    height: 15px;
    border-radius: 75% 25% 91% 9% / 74% 20% 80% 26%;
    background-color: #fff;
    opacity: 75%;
    z-index: 99;
}

.circleBottom {
    position: absolute;
    bottom: 7px;
    right: 12px;
    width: 14px;
    height: 8px;
    border-radius: 70% 30% 66% 34% / 92% 23% 77% 8%;
    background-color: #fff;
    opacity: 50%;
}

#startBtn:hover {
    background: #eac851;
    box-shadow: none;
    z-index: 999;
}


/* w230 そのに てかりなし*/
#gameBody2 {
    text-align: center;
}

.box2 {
    margin: auto;
    width: 230px;
    height: 75px;
    border-radius: 15px;
    background:
        linear-gradient(to bottom, #EAC851 0%, #E4BB29 70%, #FDE285 90%, #fff 100%);
    box-shadow: 0 3px 3px #fff;
    position: relative;
}

#startBtn2 {
    margin: 5px auto;
    width: 216px;
    height: 63px;

    font-weight: bold;
    background: linear-gradient(to bottom,
            #FFDA56 0%, #DDA107 75%, #EC905C 100%);
    box-shadow: 0 1px 0 #A53C01;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.5s;
    font-size: 2.4rem;
    text-align: center;
    text-shadow: 0px 3px 0.5px gray;
}

#startBtn2:hover {
    background: #eac851;
    box-shadow: none;
    z-index: 999;
}

/* w190 てかりあり*/
#gameBody3 {
    text-align: center;
}

.box3 {
    margin: auto;
    width: 190px;
    height: 55px;
    border-radius: 15px;
    background:
        linear-gradient(to bottom, #EAC851 0%, #E4BB29 70%, #FDE285 90%, #fff 100%);
    box-shadow: 0 3px 3px #fff;
    position: relative;
}

#startBtn3 {
    margin: 5px auto;
    width: 176px;
    height: 43px;

    font-weight: bold;
    background: linear-gradient(to bottom,
            #FFDA56 0%, #DDA107 75%, #EC905C 100%);
    box-shadow: 0 1px 0 #A53C01;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.5s;
    font-size: 1.6rem;
    text-align: center;
    text-shadow: 0px 3px 0.5px gray;
}

.circle3 {
    position: absolute;
    top: 5px;
    left: 8.5px;
    width: 15px;
    height: 15px;
    border-radius: 75% 25% 91% 9% / 74% 20% 80% 26%;
    background-color: #fff;
    opacity: 75%;
    z-index: 99;
}

.circleBottom3 {
    position: absolute;
    bottom: 7px;
    right: 12px;
    width: 14px;
    height: 8px;
    border-radius: 70% 30% 66% 34% / 92% 23% 77% 8%;
    background-color: #fff;
    opacity: 50%;
}

#startBtn3:hover {
    background: #eac851;
    box-shadow: none;
    z-index: 999;
}

/* w190 てかりなし*/

/* メディアクエリ */
@media screen and (min-width: 1000px) {
    .header {
        border-top: 5px solid#D6A923;
    }

    .container {
        height: 144px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
    }

    .header img {
        width: 120px;
    }

    .headerLogo a {
        width: 130%;
    }

    .drawerOpen span,
    .drawerOpen span:after,
    .drawerOpen span:before {
        display: none;
    }

    .navContent {
        display: inline-block;
        margin-top: 0;
        width: auto;
        position: static;
        padding: 0;
        background-color: #26567C;
    }

    .navList {
        display: flex;
    }

    .navList li {
        margin: 0 0 0 10px;
        border-radius: 10px;
    }

    .navList a {
        font-size: 16px;
        width: 119px;

    }

    .breadCrumb-001 {
        font-size: 1.2rem;
    }


}

/* フッター */


.footer {
    margin: 10px 0 0 0;
    background-color: #5FBFED;
    height: 141px;
    padding-top: 40px;
}

.footerWrap {
    max-width: 1080px;
    margin-inline: auto;
}

.footerLogo {
    width: 200px;
    height: 49px;
    background-color: #fff;
}

.footerLogo img {
    width: 200px;
}

.copyright {
    margin-block-start: 30px;
    text-align: center;
}

.footer small {
    color: #fff;
    /* font-size: 5%; */
}

.footerLogo {
    margin: 0 auto;
}

#footer .innerBlock {
    display: none;
}


/* フッターメディアクエリ */
@media screen and (min-width: 1000px) {

    .footer {
        padding-top: 50px;
        height: 600px;

    }

    #footer .innerBlock {
        display: block;
        margin: 40px 0 0 0;
        line-height: 3;
    }


    #footer .footerContent {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 30px 60px;
        margin: 0 auto;
        justify-content: space-around;
    }

    #footer .contentItem {
        display: block;
        width: calc(100% / 4);
        margin: 0 0 0 40px;
    }

    .footerLogo img {
        margin: 0 auto;
        width: 200px;
    }


    .footerTitle {
        display: block;
        /* margin: 30px 0 6px; */
        font-size: 2rem;
        color: #fff;
        font-weight: 800;
    }



    #footer .footerNav .footerTitle:first-child {
        margin-top: 0;
    }

    #footer .footerNav .footerTitle+.footerTitle {
        margin-top: 10px;
    }

    #footer .footerNav ul {
        display: block;
        font-size: 1.6rem;

    }

    #footer .footerNav li {
        display: block;
        line-height: 2;
    }

    /* #footer .footerNav .engWord {
        line-height: 1;
    } */


    #footer .footerNav li:first-child {
        margin-top: 0;
    }

    #footer .footerNav li ul {
        margin: 0 0 0 2em;
    }

    #footer .footerNav li li {
        position: relative;
    }

    #footer .footerNav li li:before {
        position: absolute;
        top: 50%;
        left: -10px;
        content: "";
        display: block;
        width: 4px;
        height: 1px;
        background-color: #fff;
    }

    #footer .company {
        display: block;
        margin-top: 62px;
    }

    .copyright {
        margin-block-start: 70px;
        font-size: 1.6rem;
    }

    .footerTitle .engWord {
        line-height: 0;
        padding: 10px;
    }
}
