@charset "utf-8";
/* パンくずリスト */
.breadCrumb-001 {
    display: flex;
    gap: 0 5px;
    list-style: none;
    padding: 0;
    font-size: .9em;
}

.breadCrumb-001 li {
    display: flex;
    align-items: center;
}

.breadCrumb-001 li:not(:last-child)::after {
    display: inline-block;
    transform: rotate(45deg);
    width: 0.5em;
    height: 0.5em;
    margin-left: 10px;
    border-top: 1px solid #8B8B8B;
    border-right: 1px solid #8B8B8B;
    content: '';
}

.breadCrumb-001 a {
    color: #8B8B8B;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .breadCrumb-001{
        font-size: 1.3rem;
    }
}


/* *********************** */
.main{
    text-align: center;
    margin: 10px;
}

@media screen and (min-width: 768px) {
    .main{margin: 20px;
}
}

@media screen and (min-width: 768px) {
    body{
        margin: 0;
    }
}


h2{
    margin: 150px 0 5px 0;
}

@media screen and (min-width: 768px) {
h2{
    font-size: 4rem;
}
}

h3{
    margin-bottom: 15px;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    h3{
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 768px) {
    h3{
        font-size: 3.2rem;
    }
}

p{
color: #8b8b8b;
margin-bottom: 10px;
font-size: 1.6rem;
writing-mode: horizontal-tb;
}

@media screen and (min-width: 768px) {
    p{
        font-size: 2rem;
    }
}

a{
    color: #8b8b8b;
}


/* テーブル */

th{
    display: none;
}

.dictionary{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.dictionary p{
    margin: 5px;
}

.dictionaryBox1{
    display: flex;
    width: 280px;
    height: 80px;
    background:rgba(95,191,237,0.15);
}

.dictionaryBox2{
    display: flex;
    width: 280px;
    height: 80px;
    background:rgba(95,191,237,0.3);
}

.englishWord {
    display: block;
}

.englishWord p{
    font-weight: bold;
}

.secondary{
    font-size: 1.3rem;
    margin-top: 15px;
    width: 50px;
}

.secondary.detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {

    th{
        font-size: 2rem;
        width: 50px;
        color: #8b8b8b;
    }

    td{

    }





}

/* 検索フォーム */
.searchForm001 {
    width: 207px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border: 2px solid #6ac3ee;
    border-radius: 3px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}

.searchForm001 input {
    width: 160px;
    height: 45px;
    padding: 5px 15px;
    border: none;
    box-sizing: border-box;
    font-size: 1rem;
    outline: none;
}

@media screen and (min-width: 768px) {
    .searchForm001 input{
        font-size: 1.3rem;
    }
}

.searchForm001 input::placeholder{
    color: #a4a5a4;
}

.searchForm001 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 45px;
    border: none;
    background-color: #6ac3ee;
    cursor: pointer;

}
.searchForm001 button::after {
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    content: '';
}



/* プルダウンメニュー */

.selectWrap {
    overflow: hidden;
    width: 19rem;
    text-align: left;
    height: 4rem;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 20px;
}

.selectWrap select {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    appearance: none;

}

.selectWrap select::-ms-expand {
    display: none;
}

.selectWrap {
    position: relative;
    border-radius: 10px;
    background: #F0F0F0;
    border: 0.5px solid #625858;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
}

.selectWrap:before {
    position: absolute;
    top: 13px;
    right: 15px;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #625858;
    pointer-events: none;
}

.selectWrap select {
    color: #625858;
    font-size: 1.6rem;
}

@media screen and (min-width: 768px) {
    .selectWrap{
        display: none;
    }
}
/* .word div{
    background-color: #B6F2FF;
    border-radius: 13px;
    margin-top: 15px;
    text-align: center;
    height: 3.6rem;
    padding-top: 8px;
} */

/* .word a{
color: #26567c;
font-weight: 500 ;
font-size: 1.7rem;
padding: 15px;
} */


/* ポップアップ表示 */
.open {
	cursor:pointer; /* マウスオーバーでカーソルの形状を変えることで、クリックできる要素だとわかりやすいように */
}
#popUp {
	display: none; /* label でコントロールするので input は非表示に */
}
.overlay {
	display: none; /* input にチェックが入るまでは非表示に */
}
#popUp:checked + .overlay {
	display: block;
	z-index: 9999;
	background-color: #00000070;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}
.window {
	width: 90vw;
	/* max-width: 380px; */
	height: auto;
	background-color:#ffff;
	border-radius: 6px;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}
.text {
	font-size: 18px;
	margin: 0;
}
/* ************************ */

/* ×画像 */
.close img {
	cursor:pointer;
	position: absolute;
	right: 4px;
	width: 35px;
    height: 35px;
}

.open img{
    width: 40px;
    height: 40px;
}

.window h2{
    margin-bottom:20px;
}

.mean{
    margin: auto;
    text-align: center;
    width: 270px;
    margin-top: 10px;
    /* border: 1px solid #8b8b8b; */
    border-radius:15px;
    border:#817F6E 2px solid;
}

.example{
    margin: auto;
    text-align: center;
    width: 270px;
    margin-top: 10px;
    border:#817F6E 2px solid;
    border-radius:15px;
    margin-bottom: 10px;
}


/* 詳細ボタンホバーした時 */
img:hover{
    opacity: 0.75;
}

/* トップへ戻る */
#pageTop{
    border-radius:50%;
    width: 5rem;
    /* width: 100px; */
    height: 5rem;
    position: fixed;
    right: 0px;
    bottom:100px;
    background: #EAB624;
    /* opacity: 0.8; */
}

#pageTop a{
    position: relative;
    display: block;
    width: 7rem;
    height: 7rem;
    text-decoration: none;
}

#pageTop a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 17px;
    color: #fff;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    bottom: 40px;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    transform: translateX(-50%);
}

#pageTop a::after{
    content: 'TOP';
    font-size: 13px;
    color: #fff;
    position: absolute;
    top: 42px;
    bottom:0;
    right: 18px;
    left: 0;
    margin: auto;
    text-align: center;
    transform: translateY(-50%);
}
/* *********************** */

/* サイドバーモバイル */
.sidebar ul a {
    display: none;
}
/* *********************** */


@media screen and (min-width: 768px) {
    #page_top{
        right: 20px;
    }
}

@media screen and (min-width: 768px) {
    /* サイドバー */

.sidebar {
    position: relative;
    right: 20px;
    background: #fff;
    width: 176px;
    height: 100%;
    display: block;
    margin-right: 0;
    margin-left: auto;
    top: 150px;
}

.sidebar ul{
    position: absolute;
    /* margin-top: 30px; */
}


.globalNav {
    font-size: 2.2rem;
    color: #ffff;
    text-align: center;
    background: rgba(95, 191, 237,1);
    user-select: none;
    display: block;
    height: 55px;
    pointer-events: none;
    padding: 15px;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.2); */
    box-shadow: -2px -2px 5px 0px rgba(255, 255, 255, 0.5), 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.sidebar ul a {
    display: block;
    width: 100%;
    line-height: 50px;
    font-size: 20px;
    color: #8B8B8B;
    padding-left: 15px;
    box-shadow: -2px -2px 5px 0px rgba(255, 255, 255, 0.5), 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
    /* box-shadow: -1px -1px 1px #668AD8 inset; */
    /* box-shadow: 0 1px 1px rgba(0,0,0,0.2), 0 -2px 3px -1px #6d95ce inset; */
    /* border-top: 1px solid rgba(139, 139, 139, 0.3);
    border-bottom: 1px solid rgba(139, 139, 139, 0.3);; */
    /* transition: 0.4s; */
}

ul .subMenu1 a{
    font-size: 1.6rem;
    line-height: 20px;
    padding-bottom: 7px;
    padding-top: 7px;
}

.sidebar ul li a:hover{
    background: rgba(4, 199, 243, 0.1);
}

.sidebar ul li.active{
    background-color: rgba(59, 163, 228, 0.3);
}
    }
