@charset "utf-8";

.main {
    background-color: #26567c;
    /* color: #fff; */
    margin: 0 20px 50px 20px;

}

.mainContent {
    min-width: 1080px;
    margin: 0 auto;
}

.gameBody {
    border: #817F6E 2px solid;
    border-radius: 10px;
    background: linear-gradient(to bottom, #B6F2FF 0%, #2E94CE 100%);
    height: 680px;
}

.gameTitle {
    opacity: 70%;
    /* line-height: 0.95em; */
    font-weight: 700;
    color: #fff;
    text-shadow:
        0.04em 0.02em 0 #B6F2FF,
        0.08em 0.05em 0 #5FBFED;
    text-align: center;
    margin: 30px;
    font-size: 6.4rem;
}

/* <!-- プルダウンメニュー -->
<!-- 言語選択 --> */

.selectWrap {
    width: 328px;
    height: 68px;
    padding: 10px;
    background-color: #58ABD3;
    display: inline-block;
    margin: 0 50px;
    border-radius: 24px;
}

.selectWrap option {
    background-color: #58ABD3;
}

optgroup {
    background-color: #58ABD3;
}


.selectWrap:before {
    top: 30px;
    right: 30px;
    border-top: 10px solid #fff;
}

.selectWrap select {
    font-size: 2.4rem;
    color: #fff;
}

.select {
    margin: 0 auto;
    width: 864px;
}
