@charset "utf-8";

#game-screen {
    width: 748px;
    /* 枠を追加 */
    border: 2px solid #817F6E;
    background: linear-gradient(to bottom, #B6F2FF 0%, #2E94CE 100%);
    padding: 0 10px 10px;
    /* z-index: 10000; */
}

#game-screen,
#game-screen * {
    font-family: Meiryo, Arial, sans-serif;
    box-sizing: border-box;
}



#game-header {
    position: relative;
    height: 40px;
    border-bottom: 1px solid #cacaca;
    margin: 0 0 5px;
}

#game-header .description {
    height: 40px;
    font-size: 18px;
    color: #7b7a7a;
    line-height: 40px;
    margin: 0 0 0 5px;
}

#game-body {
    display: table;
    width: 728px;
    height: 470px;
}

#game-view1 {
    position: relative;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 100%;
}

#game-view1>.game-position1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#game-view1>.game-position2 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    display: flex;

    margin-top: 70px;
}



/* #game-view1>.game-position3 {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 216px;
    height: 63px;
    font-size: 24px;
    background: linear-gradient(to bottom, #FFDA56 0%, #DDA107 75%, #EC905C 100%);
    box-shadow: 0 1px 0 #A53C01;
    text-shadow: 0px 3px 0.5px gray;
    border-radius: 15px;
    transition-duration: 0.5s;
} */







/* 遊び方ボタン */
#game-view1>.game-position4 {
    position: absolute;
    top: 85%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 200px;
    background-color: #D4EBF6;
    height: 50px;
    border-radius: 10px;
    color: #26567C;
    font-size: 18px;
}

.game-position4 img {
    padding: 0 5px;
}

/* 設定ボタン */
#game-view1>.game-position5 {
    position: absolute;
    top: 85%;
    left: 65%;
    transform: translate(-50%, -50%);
    width: 200px;
    background-color: #D4EBF6;
    height: 50px;
    border-radius: 10px;
    color: #26567C;
    font-size: 18px;
}

.game-position5 img {
    padding: 0 5px;
}



#game-title {
    opacity: 70%;
    font-size: 64px;
    font-weight: 700;
    color: #fff;
    text-shadow:
        0.04em 0.02em 0 #B6F2FF,
        0.08em 0.05em 0 #5FBFED;
}


#language-select {
    width: 200px;
    text-align: center;
    height: 58px;
    background-color: #58ABD3;
    border: 0.5px solid #625858;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
    border-radius: 24px;
    margin: 0 10px;
}



#level-select {
    width: 200px;
    text-align: center;
    height: 58px;
    background-color: #58ABD3;
    border: 0.5px solid #625858;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
    border-radius: 24px;
    margin: 0 10px;
}

.game-position2 input {
    width: 250px;
    text-align: center;
    height: 58px;
    background-color: #58ABD3;
    border: 0.5px solid #625858;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
    border-radius: 24px;
    margin: 0 10px;
}



#game-explain {
    font-size: 15px;
    padding: 0 24px;
    margin: 12px 0 74px;
}


/* ゲームスタートボタン */
#start-button {
    width: 216px;
    height: 63px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(to bottom, #FFDA56 0%, #DDA107 75%, #EC905C 100%);
    box-shadow: 0 1px 0 #A53C01;
    text-shadow: 0px 3px 0.5px gray;
    border: 0;
    border-radius: 15px;
    transition-duration: 0.5s;
    margin: 0 auto;
    cursor: pointer;
    appearance: none;
    margin: 8px 0;
}

.box {
    margin-top: 140px;
}

/* close-button2の後ろに設定されるだろう */
/* 遊び方画面の設定 */


/* ****** 配置・レイアウト ****** */



.howtoWrap * {
    /* font-family: Meiryo, Arial, sans-serif; */
    box-sizing: border-box;
    margin: auto;
}

/* コンテンツを504pxに収める */
.contentWrapper {
    max-width: 504px;
}


/* 背景スタイル */
.howtoWrap {
    width: 748px;
    height: 528px;
    /* 枠を追加 */
    border: 2px solid #817F6E;
    background: linear-gradient(to bottom, #B6F2FF 0%, #2E94CE 100%);
    border-radius: 2.4rem;
    box-shadow:
    0px 0px 5px 2px rgba(255, 255, 255, 0.59)inset,
    0px 0px 20px 5px rgba(27, 54, 96, 0.45) inset;
}



/* h2タイトルの枠のスタイル */
.howtoTitleBox {
    background-color: #FFFFFF;
    height: 64px;
    box-shadow:0px 0px 20px 3px #5FBFED inset;
    border-top-left-radius: 2.4rem;
    border-top-right-radius: 2.4rem;

    /* h2タイトルを上下左右中央に配置 */
    display: grid;
    place-items: center;
    margin-bottom: 14px;
}

/* h2タイトル文字のスタイル */
.howtoTitle {
    margin:0;
    font-size: 3.2rem;
    color: #26567C;
}

/* h3サブタイトルの文字のスタイル */
.subTitle {
    font-size: 1.8rem;
    font-weight: 500;
    color: #26567C;
    text-align: center;
    line-height:3rem;
    margin-bottom: 8px;

}



/* ********* 始め方 ********* */

/* 「始め方」と「設定方法」の見出し枠スタイル */
.firstTitleWrap , .settingTitleWrap {
    width: 264px;
    height: 54px;
    background-color: #58ABD3;
    border-radius: 2.4rem;
    box-shadow:
    0 4px 4px rgba(0, 0, 0, 0.25),
    0px 2px 5px rgba(255, 255, 255, 0.42) inset,
    0px 4px 15px rgba(38, 86, 124, 0.63) inset;

}

/* 「始め方」と「設定方法」の見出し枠を下の土台に重ねる */
.firstTitleWrap , .settingTitleWrap {
    position: relative;
    top:15px;
    z-index: 10;
    margin-bottom: -20px;

    /* h4の遊び方を上下左右中央に配置 */
    display: grid;
    place-items: center;

}

/* 「遊び方」と「設定方法」の文字のスタイル */
.firstTitle , .settingTitle {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 500;
    color: #fff;
    text-shadow: 0 2px 4px rgba(38, 86, 124, 0.79);
    position: relative;

}

/* 疑似要素でアイコン追加 */

.firstTitle::before {
    content: url(../images/game_houto_first.svg);
    position: absolute;
    top: 8%;
    left: -78px;
    width: 16px;
}

.settingTitle::before {
    content: url(../images/game_houto_set.svg);
    position: absolute;
    top: 8%;
    left: -54px;
    width: 16px;
}


/* 重ねられる方の下の土台（遊び方） */

.firstTextWrap {
    height: 175px;
    background-color: #D4EBF6;
    padding-left: 25px;
    border-radius: 2.2rem;
    box-shadow:0 4px 4px rgba(38, 86, 124, 0.49);


    /* 始め方内のテキストを下揃えにする（親） */
    position: relative;

}
/* 始め方の中のテキストを下揃えにする（子） */
.firstTextInner {
    position: absolute;
    bottom: 10px;
}

/* 重ねられる方の下の土台（設定方法） */
.settingTextWrap {
    height: 78px;
    background-color: #D4EBF6;
    padding-left: 20px;
    border-radius: 2.2rem;
    box-shadow:0 4px 4px rgba(38, 86, 124, 0.49);

    /* 設定方法の中のテキストを下揃えにする（親） */
    position: relative;
}
/* 始め方の中のテキストを下揃えにする（子） */
.settingTextInner {
    position: absolute;
    bottom: 10px;
}


/* 枠内文章のスタイル */
.text {
    color: #26567C;
    line-height: 2.2rem;
}

/* 閉じるボタンのスタイル */
.closeButton {
    width: 165px;
    height: 40px;
    background-color: #EAB624;
    display: block;
    margin-top: 25px;
    border-radius: 2.4rem;
    box-shadow:
    0 4px 4px rgba(0, 0, 0, 0.25),
    0px 0px 12px rgba(255, 255, 255, 1) inset;

    /* 閉じる文字のスタイル */
    color: #26567C;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}
/* 閉じるボタンホバーしたら薄くなる */
.closeButton:hover {
    opacity: 0.7;
}






/* #miss-only-button {
    top: 0;
    left: 164px;
    background-color: #23c21f;
}

@keyframes miss {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
} */
