@charset "utf-8";

.main{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color:#26567C;
}

/* ゲーム画面 */
#gameBody{
    border:#817F6E 2px solid;
    border-radius:10px;
    text-align: center;
    background:linear-gradient(to bottom,#B6F2FF ,#A4E9FF,#B6E5FF);
    /* background-color:#B6F2FF; */
    margin-bottom:40px;
}

#gameTitle{
    margin:50px auto;
    opacity:70%;
    /* font-size:5em; */
	line-height:0.95em;
	font-weight:bold;
	color: #fff;
	text-shadow:
		0.04em 0.02em 0 #B6F2FF,
		0.08em 0.05em 0 #5FBFED;
}

#startBtn {
    width: 160px;
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    background-color: #FFDA56;
    box-shadow: 0 5px 0 #A53C01;
    border-radius: 60px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;
    margin:0 0 20px 0;
}

#startBtn:hover{
    box-shadow: none;
    transform: translateY(5px);
}

#startBtn:active {
    box-shadow: none;
    transform: translateY(5px);
}

.warning{
    color: #fff;
    margin-bottom:20px;
}

.gameChara{
    margin-bottom:20px;
}
/* ゲーム画面 */

/* ゲーム概要 */
.gameSummary{
    padding:10px;
    border:#817F6E 2px solid;
    border-radius:10px;
    margin-bottom:40px;
    background-color: #fff;
}

.gameSummary p{
    color:#8B8B8B;
}

/* ゲーム概要 */

/* サイドバーランキング */
.topRanking{
    padding:10px;
    border:#817F6E 2px solid;
    border-radius:10px;
}

select{
    padding:10px;
    border:#817F6E 2px solid;
    border-radius:10px;
}

.topRanking section{
    padding:10px;
    border:#817F6E 2px solid;
    border-radius:10px;
}
/* サイドバーランキング */

/* newsの共通ボタンとタイトル */
h5{
    color: #5FBFED;
    font-weight: bold;
    text-align: left;
}

.listBtn {
    float:right;
    /* display:inline; */
}

.listBtn:hover {
    color: #fff;
    background: #78cff7;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.yellowLine{
    border:solid 1.5px #FFEBC5;
}

.updateLine{
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    border-top:1px dashed #817F6E;
}
/* newsの共通ボタンとタイトル */

/* 知っトク情報 */
.infoNews{
    margin-bottom:40px;
    padding:10px;
    border:#817F6E 2px solid;
    border-radius:10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 3px 5px 3px #60C8DA;

}

.infoNews p{
    color:#817F6E;
    display: block;
}

.infoNews div{
    width: 91px;
    height: 28px;
    border-radius:16px;
    border:1px solid #5FBFED;
    background-color:#5FBFED;
}

.infoList span{
    display:block;
}
/* 知っトク情報 */

/* 更新情報 */
.updateNews{
    margin-bottom:40px;
    padding:10px;
    border:#817F6E 2px solid;
    border-radius:10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 5px 5px 5px #60C8DA;
}

.updateNews p{
    color:#817F6E;
}

.updateNews div{
    width: 91px;
    height: 28px;
    border-radius:16px;
    border:1px solid #5FBFED;
    background-color:#5FBFED;
}

.updateList{
    display:block;
    text-align: left;
}
/* 更新情報 */

#btn{
    text-align: right;
}

/* パソコン768px~ */
@media (min-width:768px) {

}
/* パソコン768px~ */
