@charset "utf-8";

/* pagination.css */

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
}

.pagination li {
    margin: 0 5px;
}

.pagination a,
.pagination span {
    padding: 5px 10px;
    border: 1px solid #EAB624;
    text-decoration: none;
    color: #fff;
    background-color: #EAB624;
    border-radius: 50%;
    font-size: 16px;
}

.pagination a:hover,
.pagination span:hover {
    padding: 5px 10px;
    border: 1px solid #fff;
    text-decoration: none;
    color: #EAB624;
    background-color: #fff;
    border-radius: 50%;
    font-size: 16px;
}

.pagination .active a {
    background-color: #fff;
    color: #EAB624;
    border-color: #EAB624;
    border-radius: 50%;
    font-size: 16px;
}
