@charset "utf-8";

.main {
	padding: 10px;
	width: calc(100vw - 40px);
	padding-top: 110px;
}

h2 {
	font-size: 2.2rem;
	font-weight: 800;
	text-align: center;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 30px;
	line-height: 3rem;
}

h3 {
	margin-top: 30px;
	margin-bottom: 15px;
	line-height: 2rem;
	font-size: 1.8rem;
	font-weight: 700;
	background-color: beige;
}

.boxPrivacy div {
	padding-bottom: 10px;
}

.toTerms {
	text-decoration: underline;
	color: #3168D2;
	margin: 15px;
	font-size: 1.6rem;
}

.privacyP {
	margin-bottom: 30px;
}

.privacyBottom {
	margin-bottom: 45px;
}

@media (min-width:1000px) {

	.main {
		max-width: 1080px;
		margin: 0 auto;
		padding-top: 165px;
	}

	h2 {
		font-size: 4rem;
	}

	.boxPrivacy {
		max-width: 520px;
		margin: 0 auto;
	}
}

.boxPrivacy a {
	font-size: 10px;
	margin-left: 15px;
}

.boxPrivacy p {
	margin-left: 10px;
	text-indent: 10px;
	line-height: 2rem;
}

.boxPrivacy ol {
	list-style: disc;
	padding-inline-start: 25px;
}

.boxPrivacy ol li {
	font-size: 16px;
	margin-bottom: 10px;
	padding-inline-start: 5px;
	line-height: 2rem;
}

@media screen and (min-width: 760px) {

	.boxPrivacy ol li {

		font-size: 16px;
		margin-bottom: 10px;
		padding-inline-start: 10px;
		line-height: 2rem;
	}

	.boxPrivacy a {
		font-size: 10px;
		margin-left: 20px;
	}
}
