@charset "utf-8";

.main {
    background-color: #26567c;
    color: #fff;
    padding-top: 90px;
}

.mainContent {
    max-width: 280px;
    margin: 0 auto;
}

/* パンくずリストcss */
.breadCrumb-001 {
    font-size: 1.2rem;
    margin-left: 15px;
}

.breadCrumb-001 li:not(:last-child)::after {
    border-top: 1px solid #ffff;
    border-right: 1px solid #ffff;
}

.breadCrumb-001 a {
    color: #ffff;
}

/* タイトル */
.info h2 {
    font-weight: 700;
    text-align: center;
    margin: 30px;
}

.info p {
    font-weight: 300;
}

.info {
    margin-bottom: 40px;
}

/* コース選択 */
.levelButtons {
    display: block;
    margin: 30px;
    text-align: center;
}

.levelButton {
    display: inline-block;
    background-color: #F0F0F0;
    color: #625858;
    font-size: 1.6rem;
    width: 228px;
    height: 45px;
    margin: 20px auto;
    padding: 10px 0;
    border-radius: 5px;
    font-weight: 500;
    border-bottom: 6px solid #8B8B8B;
}

.levelButton:hover {
    opacity: 0.7;
}

.levelButton.active {
    background-color: #D6A923;
}

input[name="course_name"] {
    display: none;
}


/* 言語選択 */
.word div {
    background-color: #B6F2FF;
    text-align: center;
    height: 5rem;
    padding: 12px 0;
    border: 2px solid #5DBEEC;
}

.word div:hover {
    background-color: #fff;
}

.word a {
    color: #26567c;
    font-weight: 400;
    font-size: 1.6rem;
}

.word img {
    vertical-align: baseline;
    padding: 0 5px 0 2px;
}


/* ランキングのカード全部をくくっている */
.rankingWrap {
    margin-top: 40px;
    text-shadow: 0 4px 4px #26567C;
}

/* カードタイトル */
h3 {
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
}

.card {
    width: 280px;
    margin-bottom: 30px;
    padding: 30px 10px;
    border-radius: 10px;
    background: linear-gradient(to bottom,
            #5FBFED 0%, #178CCE 60%, #105CB2 100%);
    box-shadow: 4px 4px 4px #082045;
}

.cardInner {
    border: 3px solid #fff;
    border-radius: 5px;
    margin: 30px 0 0 0;
    padding: 10px;
}

.cardItem {
    display: flex;
    padding-top: 6px;
}

/* テーブル */
.scoreTable {
    width: 100%;
    font-size: 1.6rem;
}

.scoreTable td{
    vertical-align: middle;
}

.position {
    position: relative;
    margin: 0 10px;
}

.hirank {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.rank {
    text-align: center;
    font-weight: 500;
}

.userName {
    text-align: left;
    font-weight: 800;
}

.score {
    color: #FFD56A;
    text-align: right;
    font-weight: 500;
}

td {
    padding: 8px 4px;
}




/* ランキング、マイスコアボタン */
.btnWrap div {
    margin: 30px 20px 15px;
}

.challengeBtn {
    color: #fff;
    background: linear-gradient(to bottom,
            #FFD533 0%, #DCAC2D 60%, #BB6617 100%);
    border-bottom: 6px solid #DEC597;
    width: 190px;
    height: 55px;
    display: block;
    border-radius: 10px;

    text-align: center;
    line-height: 3.4375rem;
    font-size: 1.6rem;
    margin: 0 auto;
    padding: 5px;
}

.challengeBtn:hover {
    opacity: 0.8;
}

.viewMyscore {
    margin: 0 0 10px 0;
}

.viewBtn {
    color: #fff;
    background: linear-gradient(to bottom,
            #FFD533 0%, #DCAC2D 60%, #BB6617 100%);
    border-bottom: 6px solid #DEC597;
    width: 190px;
    height: 55px;
    display: block;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    line-height: 3.4375rem;
    font-size: 1.6rem;
    margin: 0 auto;
    padding: 5px;
}

.viewBtn:hover {
    opacity: 0.8;
}


/* メディアクエリ */
@media screen and (min-width:760px) {
    .mainContent {
        max-width: 100%;
    }

    .info h2 {
        font-size: 2.4rem;
    }

    .info p {
        text-align: center;
    }

    .levelButton {
        margin: 20px;
    }

    .word {
        width: 400px;
        margin: 0 auto;
    }

    .rankingInner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card {
        width: 340px;
    }
}

@media screen and (min-width: 1000px) {
    .main {
        padding-top: 120px;
    }

    .mainContent {
        max-width: 1080px;
        /* padding: 0 24px; */
    }

    .info h2 {
        font-size: 4rem;
    }

    .info {
        margin-bottom: 70px;
    }

    .info p {
        font-size: 2rem;
        text-align: center;
    }

    .selectWrap {
        margin-left: 15px;
    }

    .selectWrap select {
        font-size: 2rem;
    }

    .word {
        display: none;
    }

    .rankingWrap {
        margin-top: 20px;
    }

    .rankingInner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .rankingInner .card {
        padding: 5rem;
        width: 47%;
    }

    .scoreTable {
        font-size: 2rem;
    }

    h3 {
        font-size: 2.4rem;
    }

    td {
        padding: 13px 8px;
    }

    .levelButton {
        margin: 20px;
    }

    .btnWrap {
        display: flex;
        justify-content: center;
    }

    .challengeBtn {
        font-size: 2.4rem;
        width: 350px;
        height: 95px;
        line-height: 3;
    }

    .viewBtn {
        font-size: 2.4rem;
        width: 350px;
        height: 95px;
        line-height: 3;
    }

    .breadCrumb-001 li:not(:last-child)::after {
        border-top: 1px solid #ffff;
        border-right: 1px solid #ffff;
    }

    .breadCrumb-001 a {
        color: #ffff;
    }
}
