@charset "utf-8";

/* 作業時に使うアウトラインプロパティ
------------------------------ */
/* * {
    outline: 1px solid red;
} */

/* ******** レイアウト ********  */

.main {
    height: 100%;
    background-color: #fff;
    padding-top: 90px;
    /* width: 90%; */
    padding-left: 20px;
}

/* 横幅1000px以下の時に右側にpaddingを出す */
@media screen and (min-width: 1000px) {
    .main {
        padding-top: 120px;
        max-width: 1080px;
    }
}

/* 横幅1000px以下の時にwidth90%にする */
@media screen and (max-width: 1000px) {
    .main {
        width: 90%;
    }
}

/* パンくずを出す */
/* .wrap {
    padding-top: 100px;
} */
/* @media screen and (min-width: 1000px) {
    .wrap {
        padding-top: 120px;
    }
} */

/* mainContainerとsideの Flexbox（親） */
.shittokuFlex {
    width: 100%;
    display: flex;
    margin-top: 80px;
}

/* 横幅1000px以下の時はフレックスボックスを止める */
@media screen and (max-width: 1000px) {
    .shittokuFlex {
        display: block;
    }
}

/* メインコンテイナー */
.mainContainer {
    display: flex;
    width: calc(100% - 176px);
    /* サイドバーを除いて横幅可変 */
    justify-content: center;
}


@media screen and (max-width: 1000px) {
    .mainContainer {
        width: 100%;
    }
}


/* サイドバー:モバイルの時は */
.sidebar {
    display: none;
}

/* サイドバー PC */
/* @media screen and (min-width: 1000px) {
    #pagTop{
        right: 20px;
    }
} */

@media screen and (min-width: 1000px) {

    .sidebar {
        /* right: 20px; */
        background: #fff;
        width: 28%;
        height: 100%;
        display: block;
        margin-right: 0;

    }

    .globalNav {
        font-size: 2.2rem;
        color: #ffff;
        text-align: center;
        background: rgba(95, 191, 237, 1);
        user-select: none;
        display: block;
        height: 55px;
        pointer-events: none;
        padding: 15px;
        /* line-height: 2.5rem; */

        box-shadow: -2px -2px 5px 0px rgba(255, 255, 255, 0.5), 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
    }

    .sidebar ul a {
        display: block;
        width: 100%;
        /* line-height: 50px; */
        padding: 10px 15px;
        font-size: 1.6rem;
        /* color: #8B8B8B; */
        padding-left: 15px;
        box-shadow: -2px -2px 5px 0px rgba(255, 255, 255, 0.5), 2px 2px 4px 0px rgba(0, 0, 0, 0.3);

    }

    .sidebar ul li a:hover {
        background: rgba(4, 199, 243, 0.1);
    }

    /* .sidebar ul li.active {
        background-color: rgba(59, 163, 228, 0.3);
    } */
}

.sidebar ul li.active {
    background-color: #D6A923;
    color: #fff;
}

/* 画像たちのフレックスボックス */
.imgFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}



/* タイトル */
.title {
    font-weight: 800;
    text-align: center;
    letter-spacing: 0.1rem;
    margin-bottom: 40px;
    font-size: 2.2rem;
}

@media screen and (min-width: 1000px) {
    .title {
        font-size: 4rem;
    }


}

/* タイトル下のPタグの文章 */
.overview {
    margin: 30px auto;
    width: 75%;
}

@media screen and (min-width: 1000px) {
    .overview {
        font-size: 2rem;
    }
}


/* 画像コンテナー */

.flexItem {
    /* margin-top: 20px; */
    margin-bottom: 10px;
    max-width: 371px;
    text-align: center;
    /* padding: 5px 15px 20px 15px; */
}

.flexItem .p {
    width: 100%;
}


/* @media screen and (min-width: 662px) { */
@media screen and (min-width: 768px) {
    .flexItem {
        padding: 30px;
        /* max-width: 100%; */
        padding: 5px 15px 20px 15px;
    }

    .p {
        max-width: 311px;
        padding: 5px 20px 20px 20px;
    }

}

.flexItemTitle {
    font-size: 2rem;
    font-weight: 600;
}

@media screen and (min-width: 1000px) {
    .flexItemTitle {
        font-size: 2.4rem;
    }

    .flexItem {
        max-width: 371px;
    }
}

.flexItemText {
    font-weight: 400;
    max-width: 295px;
    line-height: 2rem;
}

.flexItemImage {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    aspect-ratio: 27/16;
    object-fit: cover;
    max-width: 311px;
    margin-top: 11px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 0px 0 rgb(96, 200, 218);

}

.flexItemImage:hover {
    opacity: 0.5;
    transition: 0.3s;
}

/* ********** 部品 ***********/




/* フォント */

/* h2 {
    margin-bottom: 5px;
}

@media screen and (min-width: 1000px) {
    h2 {
        font-size: 4rem;
        margin-bottom: 5px;
    }
}

ul .subMenu1 a {
    line-height: 2.7rem;
    padding-bottom: 7px;
    padding-top: 7px;
}

ul .subMenu3 a {
    line-height: 2.7rem;
    padding-bottom: 7px;
    padding-top: 7px;
}

ul .subMenu4 a {
    line-height: 2.7rem;
    padding-bottom: 7px;
    padding-top: 7px;
} */
