@charset "utf-8";

.main {
    width: 90%;
    padding: 90px 10px 20px;
    /* padding-top: 110px; */
}

@media (min-width:1000px) {
    .main {
        padding: 165px 10px 10px;
        /* padding-top: 120px; */
        /* padding-bottom: 40px; */
    }

    h2 {
        margin-top: 0;
        margin-bottom: 40px;
    }
}

h3 {
    margin-top: 30px;
    margin-bottom: 15px;
    line-height: 2rem;
    font-size: 1.8rem;
    font-weight: 700;
    background-color: beige;
}

.boxTerms div {
    padding-bottom: 10px;
}

.toPrivacy {
    text-decoration: underline;
    color: #3168D2;
    margin: 15px;
    margin-left: 5px;
}

.boxTerms a {
    font-size: 1rem;
    margin-left: 10px;
}


@media (min-width:1000px) {
    .wrap {
        max-width: 1080px;
        margin: 0 auto;
    }

    .boxTerms {
        max-width: 520px;
        margin: 0 auto;
    }



}

.boxTerms p {
    margin-left: 10px;
    text-indent: 10px;
    line-height: 2rem;
}

.boxTerms ol {
    list-style: disc;
    padding-inline-start: 25px;
    margin-bottom: 45px;
}

.boxTerms ol li {
    font-size: 16px;
    margin-bottom: 10px;
    padding-inline-start: 5px;
    line-height: 2rem;

}

.TermsP {
    margin-bottom: 10px;
}

@media screen and (min-width: 760px) {

    .boxTerms ol li {

        font-size: 16px;
        margin-bottom: 10px;
        padding-inline-start: 10px;
        line-height: 2rem;
    }

    .boxTerms a {
        font-size: 10px;
        margin-left: 20px;
    }
}
