@charset "utf-8";

.main {
    background-color: #26567C;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 90px;
}


@media (min-width:1000px) {
    .main {
        width: 1000px;
        margin-bottom: 20px;
        padding-top: 120px;
    }
}

/* パンくずリストcss */
.breadCrumb-001 {
    font-size: 1rem;
}

.breadCrumb-001 li:not(:last-child)::after {
    border-top: 1px solid #ffff;
    border-right: 1px solid #ffff;
}

.breadCrumb-001 a {
    color: #ffff;
}


@media (min-width:1000px) {

    /* パンくずリストcss pc*/

    .breadCrumb-001 li:not(:last-child)::after {
        border-top: 1px solid #ffff;
        border-right: 1px solid #ffff;
    }

    .breadCrumb-001 a {
        color: #ffff;
    }
}

h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

p {
    font-size: 1.6rem;
    text-align: left;
}

.title {
    font-size: 2.8rem;
    font-weight: 800;
    margin: 20px auto;
    text-align: center;
}

@media screen and (min-width: 1000px) {
    p {
        font-size: 1.8rem;
    }

    .title {
        /* padding-left: 5px; */
        font-size: 1.8rem;
    }

}


/* カード////////////////////////////////////////////////// */
.updateList {
    width: 100%;
}

.updateInformation .updateList li {
    width: 100%;
    /* display: flex;
    justify-content: space-between; */
}

.updateInformation {
    line-height: 25px;
    width: 100%;
    margin-bottom: 40px;
    padding: 10px;
    border: #817F6E 2px solid;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 3px 5px 3px #60C8DA;
}

@media screen and (min-width: 1000px) {
    .updateInformation {
        height: auto;
        line-height: 30px;
        margin-bottom: 40px;
        padding: 10px;
        border: #817F6E 2px solid;
        border-radius: 10px;
        text-align: center;
        background-color: #fff;
        box-shadow: 3px 5px 3px #60C8DA;
    }
}

.date {
    text-align: right;
}

.updateList li p {
    word-break: break-all;
}


.updateList .pc {
    display: none;
    width: 100%;
    /* margin: 0 auto; */
}

.updateList .pc p {
    width: 100%;
    margin-bottom: 20px;
}

.updateList .mobile p {
    width: 100%;
    margin-bottom: 20px;
}

.updateList .title {
    font-size: 1.8rem;
}

@media screen and (min-width: 760px) {
    .updateList .pc {
        display: block;
    }

    .updateList .mobile {
        display: none;
    }

    .updateList .title {
        margin-left: 20px;
        font-size: 1.8rem;
    }

}
