@charset "utf-8";


.main{
    background-color: #26567C;
    /* margin-left: 20px;
    margin-right: 20px; */
    text-align: center;
    width: calc(100vw - 40px);
    margin-bottom: 20px;
	margin-left: 20px;
    min-width: 280px;
    /* padding: 10px; */
}


@media (min-width:1000px) {
	.main {
	width: 1000px;
    margin-bottom: 20px;
	margin-left: calc((100vw - 1000px) / 2);
    padding: 20px;
}
}


h2{
    color:#fff;
    text-align: center;
    margin-bottom: 30px;
}

@media screen and (min-width: 1000px) {
h2{
        font-size: 4rem;
    }
}

p{
    font-size: 1.6rem;
    text-align: left;
}

@media screen and (min-width: 1000px) {
p{
    font-size: 1.8rem;
    }
}

.updateInformation .updateList li{
display: flex;
justify-content: space-between;
}


    .updateInformation{
        /* width: 1000px; */
        /* height: 150px; */
        /* margin-right: auto;
        margin-left: auto; */
        line-height: 30px;
        width: 100%;
        /* margin-left: calc(10vw / 2 - 20px); */
        margin-bottom:40px;
        padding:10px;
        border:#817F6E 2px solid;
        border-radius:10px;
        text-align: center;
        background-color: #fff;
        box-shadow: 3px 5px 3px #60C8DA;
    }

.updateList .updateImg{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

@media screen and (min-width: 1000px) {
.updateList .updateImg{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
}
.updateImg{
    /* width: 80px;
    height: 70px;
    text-align: right;
    float: right; */
     /* aspect-ratio: 11/4; */
    object-fit: cover;
    /* max-width: 80px; */
    height: auto;
    text-align: right;
    float: right;
}

@media screen and (min-width: 1000px)
{
    .updateImg{
        width: 600px;
        height: 600px;
        object-fit: cover;
        aspect-ratio: 13 / 10;
        }
}


@media screen and (min-width: 1000px) {
    .updateInformation{
        /* width: 1000px; */
        height: auto;
        /* height:auto; */
        /* margin-right: auto;
        margin-left: auto; */
        line-height: 30px;
        /* margin-left: calc((100vw - 1080px) / 2 - 20px); */
        margin-bottom:40px;
        padding:10px;
        border:#817F6E 2px solid;
        border-radius:10px;
        text-align: center;
        background-color: #fff;
        box-shadow: 3px 5px 3px #60C8DA;
        }
}
